# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ai/

# VSCode / IDE
.vscode/
.idea/

# Environment Variables
.env

# Local Database & Vector Store
database/vector_store/
*.faiss
*.json
*.pkl

# PDF Files (ถ้าไม่อยากอัปโหลดขึ้น GitHub)
database/*.pdf

# Logs
*.log

# MacOS / Windows
.DS_Store
Thumbs.db
